* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*fonts*/
@font-face {
    font-family: "Metropolis";
    src: url(./assets/fonts/Metropolis-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Metropolis";
    src: url(./assets/fonts/Metropolis-Bold.ttf);
    font-weight: 700;
}

/*body*/
body {
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    width: 100vw;
    overflow-x: hidden;
}

/*header*/
#header {
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 6.45vw;
    height: 17.95vh;
    background-color: white;
    z-index: 1;
}

#logo {
    display: flex;
    flex-direction: column;
}

#logo h1 {
    margin-top: 0.8vw;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.15vw;
}

#logo img {
    height: 2vw;
    width: auto;
}

#navbar-itens {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar-itens :nth-child(6) {
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

#navbar-itens :nth-child(6) img {
    width: 2vw;
    height: 2vw;
}

#navbar-itens :nth-child(7) img {
    width: 2.3vw;
    height: auto;
}

.navbar-item {
    margin-left: 3vw;
}

.navbar-item:hover span {
    transition: 0.3s all;
    color: rgb(166, 122, 75);
    cursor: pointer;
}

#navbar-itens :nth-child(6):hover span {
    transition: 0.3s all;
    color: rgba(0, 0, 0, 0.494);
    cursor: pointer;
}

/*main*/
main {
    padding-top: 12.95vh;
}

/*socials*/
#socials {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    justify-content: center;
    margin-right: 2vw;
    gap: 5vh;
}

#socials i {
    font-size: 1.5vw;
}

/*carousel expositor*/

#expositor {
    margin: 0 6.45vw;
    width: 87.1vw;
    height: 62.9vw;
    display: flex;
    position: relative;
    overflow: hidden;
    position: relative;
}

#expositor article {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#expositor article h2 {
    color: white;
    font-weight: 700;
    font-size: 6vw;
    text-align: center;
}

#expositor article button {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    width: 10.5vw;
    height: 3.45vw;
    font-size: 1.2vw;
    border-radius: 50px;
}

#expositor article button:hover {
    transition: 0.3s all;
    background-color: rgb(166, 122, 75);
    border: 3px solid rgb(166, 122, 75);
    cursor: pointer;
}

#expositor-itens {
    width: 87.1vw;
    height: 62.9vw;
    list-style: none;
    display: flex;
    position: absolute;
    animation-name: slide;
    animation-duration: 15s;
    animation-iteration-count: infinite;   
}

.expositor-item img{
    width: 87.1vw;
    height: 62.9vw;
}

@keyframes slide {
    0% {
        left: 0;
    }
    29% {
        left: 0vw;
    }
    33% {
        left: -87.1vw;
    }
    62% {
        left: -87.1vw;
    }
    66% {
        left: calc(-87.1vw*2);
    }
    96% {
        left: calc(-87.1vw*2);
    }
    100% {
        left:calc(-87.1vw*3);
    }
}

/*nav pictures*/
#nav-pictures {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 5vw 6.45vw;
    flex-wrap: wrap;
}

#nav-pictures figure {
    width: 40.7vw;
    height: auto;
    position: relative;
}

#nav-pictures figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 6vw;
    text-align: center;
}

#nav-pictures figcaption span:hover {
    transition: 0.3s all;
    color: rgb(166, 122, 75);
    cursor: pointer;
}

#nav-pictures img {
    width: 40.7vw;
    height: auto;
}

/*caurosel*/
#caurosel-container {
    width: 100vw;
    height: 51.69vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    justify-content: space-between;
    align-items: center;
    padding: 15vh 0;
}

#caurosel-container h2 {
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 0.3vw;
}

#caurosel-container button {
    color: rgb(166, 122, 75);
    border: 3px solid rgb(166, 122, 75);
    width: 10.5vw;
    height: 3.45vw;
    font-size: 1.2vw;
    border-radius: 50px;
}



#caurosel {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

#caurosel button {
    border: none;
    font-size: 2.5vw;
    color: black;
}

#lista {
    margin: 0 1vw;
    display: flex;
    list-style: none;
    width: 83.11vw;
    overflow: hidden;
}

#lista li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 14.3vw;
    height: 21.65vw;
    background-color: white;
    margin: 0 3.23vw;
    padding: 0.51vw;
    padding-bottom: 2vw;
    font-size: 1.2vw;
}

#lista img {
    width: 13.42vw;
    height: 13.42vw;
}

/*niches*/
#niches {
    background-color: rgb(240, 240, 240);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    padding: 1vh 0;
}

#niches img {
    width: 30.5vw;
    height: auto;
}

/*benefits*/
#benefits {
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 100vw;
    height: 55vh;
}

#benefits img {
    width: 2.5vw;
    height: auto;
}

#benefits figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
    width: 33.33%;
    height: 100%;
}

#benefits figcaption {
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
} 

/*footer*/
#footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 5vh 10.45vw 10vh 6.45vw;
    font-size: 1vw;
}

/*nav*/
#nav-list {
    list-style: none;
}

#nav-list li{
    margin-bottom: 1vw;
}

#nav-list li:hover, #contact-info :nth-child(2) li:hover {
    transition: 0.5s all;
    color: rgb(166, 122, 75);
    cursor: pointer;
}

/*contact info*/
#contact-info {
    display: flex;
    gap: 10vw;
}

#contact-info section {
    display: flex;
    flex-direction: column;
    gap: 4.5vh;
}

#contact-info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

#socials-2 {
    display: flex;
    gap: 1vw;
}

#socials-2 i:hover {
    cursor: pointer;
}

/*newsletter*/
#footer-last-block {
    width: 18vw;
    display: flex;
    flex-direction: column;
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    margin: 1.5vh 0;
    width: 18vw;
    height: 6vh;
    border: 1px solid;
    border-radius: 0;
    padding-left: 8px;
}

#email:hover {
    border: 1px solid rgba(128, 128, 128, 0.69);
}

#email::placeholder {
    color: black;
}

#button {
    width: 18vw;
    height: 6vh;
    border: none;
    background-color: rgba(128, 128, 128, 0.15);
    letter-spacing: 0.05vw;
}

#button:hover {
    transition: 0.5s all;
    background-color: rgb(166, 122, 75);
    color: white;
    cursor: pointer;
}

#rights {
    color: rgba(128, 128, 128, 0.634);
    margin-top: 8vh;
}
    



